{% extends 'layout' %}

{% import 'macros.form' as form %}

{% block title %}Login{% endblock %}
{% block pageTitle %}Login{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6 col-sm-12">
            {{ form.open('user', 'login', 'login', 'login-form') }}
                <div class="form-group">
                    {{ form.label( 'email', 'Email Address' ) }}
                    {{ form.text( 'email', old( 'email' ), 'email', 'Enter email address', true ) }}
                </div>
                <div class="form-group">
                    {{ form.label( 'password', 'Password' ) }}
                    {{ form.password( 'password', 'password', 'Enter password', true ) }}
                </div>
                <div class="form-group">
                    {{ form.submit( 'Login', 'submit', 'primary' ) }}
                    {#<a href="#">Forgot Your Password?</a>#}
                </div>
            {{ form.close() }}
        </div>
    </div>
{% endblock content %}
