{% import 'macros/form.twig' as form %}
{% extends 'layout' %}

{% block content %}
    <div class="row">
        <div id="auth" class="col-md-4 col-md-offset-1">
            <div id="auth-login">
                {{ form.open('user', 'auth.login', 'login', 'login') }}
                    <div class="form-group">
                        {{ form.label( 'email', 'Email Address' ) }}
                        {{ form.text( 'email', old( 'email' ), 'email', 'Enter email address', true ) }}
                    </div>
                    <div class="form-group">
                        {{ form.label( 'password', 'Password' ) }}
                        {{ form.password( 'password', 'password', 'Enter password', true ) }}
                    </div>
                    <div class="form-group">
                        {{ form.submit( 'Login', 'login', 'primary' ) }}
                        <a href="#">Forgot Your Password?</a>
                    </div>
                {{ form.close() }}
            </div>
        </div>
    </div>
{% endblock content %}
