{% import 'macros/navigation.twig' as nav %}

{% block navigation %}
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <span class="navbar-brand"><big>Foodie</big></span>
            </div>
            <ul class="nav navbar-nav">
                {{ nav.item( 'recipe-menu', 'recipes.', current_route, '#', 'Recipes' ) }}
                {{ nav.item( 'grocery-menu', 'grocery.', current_route, '#', 'Groceries' ) }}

                {% if current_user is not empty %}
                    {{ nav.dropdown( 'start', 'profile-menu', 'profile.', current_route, 'Me' ) }}
                        {{ nav.item( 'profile-menu', 'profile.index', current_route, url_route( 'profile.index' ), 'View Profile' ) }}
                        {{ nav.item( 'profile-menu', 'profile.edit', current_route, url_route( 'profile.edit' ), 'Edit Profile' ) }}
                        {{ nav.item( 'profile-menu', 'profile.recipes', current_route, url_route( 'profile.recipes.index' ), 'My Recipes' ) }}
                    {{ nav.dropdown( 'end' ) }}
                {% endif %}

                {% if current_user is not empty %}
                    {{ nav.item( 'auth-menu', 'auth.', current_route, url_route( 'auth.logout' ), 'Logout' ) }}
                {% else %}
                    {{ nav.item( 'auth-menu', 'auth.', current_route, url_route( 'auth.login' ), 'Login' ) }}
                {% endif %}
            </ul>
        </div>
    </nav>
{% endblock navigation %}
