<!DOCTYPE html>
<html lang="en/us">
    <head>
        <title>{% block title %}{% endblock %} | Furious Foodie</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ asset( 'css/app.css') }}" type="text/css">
        {% block styles %}{% endblock styles %}
        {% block header_scripts %}{% endblock header_scripts %}

        {% import 'macros.meta' as meta %}

        {% block meta %}
            {% block meta_canonical %}{% endblock %}
            {% block meta_title %}
                {{ meta.itemprop( 'name', 'FuriousFoodie (dot) com' ) }}
                {{ meta.property( 'og:title', 'FuriousFoodie (dot) com' ) }}
                {{ meta.name( 'twitter:title', 'FuriousFoodie (dot) com' ) }}
            {% endblock %}
            {% block meta_sitename %}
                {#{ meta.name( 'twitter:site', '@julisana' ) }#}
                {{ meta.property( 'og:site_name', 'Furious Foodie' ) }}
                {{ meta.name( 'twitter:card', 'summary' ) }}
            {% endblock %}
            {% block meta_description %}
                {{ meta.name( 'description', 'Find your favorite recipes with the Furious Foodie' ) }}
                {{ meta.property( 'og:description', 'Find your favorite recipes with the Furious Foodie' ) }}
                {{ meta.property( 'twitter:description', 'Find your favorite recipes with the Furious Foodie' ) }}
            {% endblock %}
            {% block meta_image %}
                {#{ meta.itemprop( 'image', '' ) }#}
                {{ meta.property( 'og:image', '' ) }}
                {{ meta.name( 'twitter:image:src', '' ) }}

                {{ meta.property( 'og:image:url', '' ) }}
                {{ meta.property( 'og:image:width', '' ) }}
                {{ meta.property( 'og:image:height', '' ) }}
            {% endblock %}
            {% block meta_other %}{% endblock %}
        {% endblock meta %}
    </head>

    <body>
        <div class="container">
            <header>
                {% include 'navigation' %}
                {% include 'messages' %}

                <div class="row">
                    <div class="col-md-6">
                        <h2>{% block pageTitle %}{% endblock %}</h2>
                    </div>
                    {% if buttons is not empty %}
                        {% include 'buttons' %}
                    {% endif %}
                </div>
            </header>

            {% block content %}{% endblock %}

            <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
            <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

            {% block footer_scripts %}{% endblock footer_scripts %}
            <footer>
                <hr/>
            </footer>
        </div>
    </body>
</html>
