<fieldset class="recipe-details">
    <div class="form-row mb-2">
        <div class="col-md-2">
            <label class="col-form-label">Name:</label>
        </div>
        <div class="col-md-10">
            {{ form.text( 'name', old( 'name', recipe.name ), 'recipe-name', 'recipe-name', 'Recipe Name', true ) }}
        </div>
    </div>

    <div class="form-row mb-2">
        <div class="col-md-2">
            <label class="col-form-label">Description:</label>
        </div>
        <div class="col-md-10">
            {{ form.textarea( 'description', old( 'description', recipe.description ), 'description', 'recipe-description', 'Recipe Description', false, 5 ) }}
        </div>
    </div>

    <div class="form-row mb-2">
        <div class="col-md-2">
            <label class="col-form-label">Difficulty:</label>
        </div>
        <div class="col-md-10">
            <select name="difficulty" class="form-control difficulty" required>
                <option value="">--Select One--</option>
                <option value="beginner"{{ old( 'difficulty', recipe.difficulty ) == 'beginner' ? ' selected' : '' }}>Beginner</option>
                <option value="easy"{{ old( 'difficulty', recipe.difficulty ) == 'easy' ? ' selected' : '' }}>Easy</option>
                <option value="medium"{{ old( 'difficulty', recipe.difficulty ) == 'medium' ? ' selected' : '' }}>Medium</option>
                <option value="hard"{{ old( 'difficulty', recipe.difficulty ) == 'hard' ? ' selected' : '' }}>Hard</option>
                <option value="expert"{{ old( 'difficulty', recipe.difficulty ) == 'expert' ? ' selected' : '' }}>Expert</option>
            </select>
        </div>
    </div>

    <div class="form-row mb-2">
        <div class="col-md-2">
            <label class="col-form-label">Prep Time:</label>
        </div>
        <div class="col-md-4">
            {{ form.number( 'prep_time', old( 'prep_time', recipe.prep_time.totalMinutes ), 'prep-time', 'prep-time', 'in minutes', true ) }}
        </div>
        <div class="col-md-2">
            <label class="col-form-label">Cook Time:</label>
        </div>
        <div class="col-md-4">
            {{ form.number( 'cook_time', old( 'cook_time', recipe.cook_time.totalMinutes ), 'cook-time', 'cook-time', 'in minutes', true ) }}
        </div>
    </div>

    <div class="form-row mb-2">
        <div class="col-md-2">
            <label class="col-form-label">Servings:</label>
        </div>
        <div class="col-md-4">
            {{ form.number( 'servings', old( 'servings', recipe.servings ), 'servings', 'servings', '# of Servings', true ) }}
        </div>
        <div class="col-md-4">
            {{ form.text( 'serving_size', old( 'serving_size', recipe.serving_size ), 'serving-size', 'serving-size', 'Serving Units', true ) }}
        </div>
        <div class="col-md-2 form-control border-0">
            Ex: 3 scoops
        </div>
    </div>

    <div class="form-row mb-2">
        <div class="col-md-2">
            <label class="col-form-label">Source:</label>
        </div>
        <div class="col-md-10">
            {{ form.text( 'source', old( 'source', recipe.source ), 'source', 'recipe-source', 'Recipe Source' ) }}
        </div>
    </div>

    <div class="form-row mb-2">
        <div class="col-md-2">
            <label class="col-form-label">Source Url:</label>
        </div>
        <div class="col-md-10">
            {{ form.text( 'source_url', old( 'source_url', recipe.source_url ), 'source-url', 'source-url', 'Source URL' ) }}
        </div>
    </div>

    <div class="form-row mb-2">
        <div class="col-md-2">
            <label class="col-form-label">Notes:</label>
        </div>
        <div class="col-md-10">
            {{ form.textarea( 'notes', old( 'notes', recipe.notes ), 'notes', 'recipe-notes', 'Recipe Notes', false, 5 ) }}
        </div>
    </div>
</fieldset>
