{% if key is not defined %}
    {% set key = 0 %}
{% endif %}

<div class="form-row ingredient">
    <div class="col-md-12">
        <div class="form-row mb-2">
            <div class="col-md-11">
                {{ form.text( 'ingredients[' ~ key ~ '][name]', old( 'ingredients[' ~ key ~ '][name]', ingredient.name ), '', 'ingredient-name', 'Ingredient Quantity and Name' ) }}
                {{ form.hidden( 'ingredients[' ~ key ~ '][id]', old( 'ingredients[' ~ key ~ '][id]', ingredient.id ), { class: 'id' } ) }}
                {{ form.hidden( 'ingredients[' ~ key ~ '][order_number]', old( 'ingredients[' ~ key ~ '][order_number]', ingredient.order_number ), { class: 'order-number' } ) }}
            </div>
            <div class="col-md-1 pl-1 pr-1">
                <span class="btn btn-light sort-item w-100">&#9776;</span>
            </div>
        </div>
        <div class="form-row mb-2">
            <div class="col-md-11">
                {{ form.textarea( 'ingredients[' ~ key ~ '][notes]', old( 'ingredients[' ~ key ~ '][notes]', ingredient.notes ), '', 'ingredient-notes', 'Ingredient Notes', false, 2 ) }}
            </div>
            <div class="col-md-1 pl-1 pr-1">
                <span class="btn btn-danger remove-item w-100" data-row="{{ key }}">X</span>
            </div>
        </div>
    </div>
</div>
