{% macro display_messages( messages, class ) %}
    <div class="row">
        <div class="alert {{ class }} col-12">
            {% if messages is iterable %}
                {% for message in messages %}
                    {{ message|raw }}<br />
                {% endfor %}
            {% elseif messages is not empty %}
                {{ messages|raw }}<br />
            {% endif %}
        </div>
    </div>
{% endmacro %}

{% macro error( messages ) %}
    {% import _self as msg %}
    {{ msg.display_messages( messages, 'alert-danger' ) }}
{% endmacro %}

{% macro success( messages ) %}
    {% import _self as msg %}
    {{ msg.display_messages( messages, 'alert-success' ) }}
{% endmacro %}

{% macro warning( messages ) %}
    {% import _self as msg %}
    {{ msg.display_messages( messages, 'alert-warning' ) }}
{% endmacro %}
