{% macro item( menu_class, route_identifier, current_route, url, name ) %}
    <li class="{{ menu_class }}{% if current_route starts with route_identifier %} active{% endif %}">
        <a href="{{ url }}">{{ name }}</a>
    </li>
{% endmacro %}

{% macro dropdown( position, menu_class, route_identifier, current_route, name ) %}
    {% if position == 'end' %}{# Because the list stuff needs to be closed off properly #}
            </ul>
        </li>
    {% else %}

        <li class="dropdown {{ menu_class }}{% if current_route starts with route_identifier %} active{% endif %}">
            <a href="#" data-toggle="dropdown">{{ name }} <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
    {% endif %}
{% endmacro %}

