{% extends 'layout' %}

{% import 'macros.form' as form %}

{% block title %}Edit Profile{% endblock %}

{% block pageTitle %}Edit Profile{% endblock %}

{% block content %}
    <div class="col-md-12">
        {{ form_model( user, { method: 'PATCH', name: 'profile_form', id: 'profile-form', class: 'form' } ) }}
        <div class="row">
            <div class="col-md-6">
                {{ form.label( 'name', 'Name:' ) }}
                {{ form.text( 'name', null, 'name' ) }}
            </div>
            <div class="col-md-6">
                {{ form.label( 'email', 'Email:' ) }}
                {{ form.text( 'email', null, 'email' ) }}
            </div>
        </div>

        <hr />

        <div class="row">
            <div class="col-md-6">
                {{ form.label( 'password', 'Password:' ) }}
                {{ form.password( 'password', null, 'password' ) }}
            </div>
            <div class="col-md-6">
                {{ form.label( 'confirm-password', 'Confirm Password:' ) }}
                {{ form.password( 'password_confirmation', null, 'confirm password' ) }}
            </div>
        </div>

        <div class="row">&nbsp;</div>

        <div class="row">
            <div class="col-md-6">
                {{ form.submit( 'Update Profile', null, 'primary' ) }}
            </div>
        </div>
        {{ form_close() }}
    </div>
{% endblock %}
