{% extends 'layout' %}

{% block content %}
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
                {{ user.email }}<br />
                {{ user.name }}<br />
                {{ user.created_at }}
            </div>
            <div class="col-md-6">
                <ul>
                    {% for recipe in user.createdRecipes %}
                        <li><a href="{{ recipe.getUrl() }}">{{ recipe.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
