{% extends 'layout' %}

{% import 'macros.meta' as meta %}
{% import 'macros.form' as form %}

{% block title %}{{ recipe.name }}{% endblock %}
{% block pageTitle %}{{ recipe.name }}{% endblock %}
{% block buttons %}{% include 'recipes.buttons' %}{% endblock %}

{% block content %}
    {{ form.open( [ 'recipes.edit', recipe.id ], 'edit_recipe', 'edit-recipe' ) }}
    <div class="form-row">
        <div class="col-md-6">
            <h4>Details</h4>
            {% include 'recipes.form.details' %}

            <div class="files" id="files">
                <h4>Files</h4>
                {% if recipe.files.isNotEmpty() %}
                    {% for key, file in recipe.files %}
                        {% include 'recipes.form.file' %}
                    {% endfor %}
                {% else %}
                    {% include 'recipes.form.file' %}
                {% endif %}
            </div>
        </div>

        <div class="col-md-6 ingredients" id="ingredients">
            <h4>Ingredients</h4>
            {% if recipe.ingredients.isNotEmpty() %}
                {% for key, ingredient in recipe.ingredients %}
                    {% include 'recipes.form.ingredient' %}
                {% endfor %}
            {% else %}
                {% include 'recipes.form.ingredient' %}
            {% endif %}
        </div>
    </div>

    <div class="form-row">&nbsp;</div>

    <div class="form-row">
        <div class="col-md-6 directions" id="directions">
            <h4>Directions</h4>
            {% if recipe.directions.isNotEmpty() %}
                {% for key, direction in recipe.directions %}
                    {% include 'recipes.form.direction' %}
                {% endfor %}
            {% else %}
                {% include 'recipes.form.direction' %}
            {% endif %}
        </div>

        <div class="col-md-6">
            <div class="photos" id="photos">
                <h4>Photos</h4>
                {% if recipe.photos.isNotEmpty() %}
                    {% for key, photo in recipe.photos %}
                        {% include 'recipes.form.photo' %}
                    {% endfor %}
                {% else %}
                    {% include 'recipes.form.photo' %}
                {% endif %}
            </div>
        </div>
    </div>

    <div class="form-row">&nbsp;</div>

    <div class="form-row">
        <div class="offset-md-3 col-md-6">
            {{ form.hidden( 'delete_ingredient', '', { id: 'delete-ingredient' } ) }}
            {{ form.hidden( 'delete_direction', '', { id: 'delete-direction' } ) }}
            {{ form.hidden( 'delete_photo', '', { id: 'delete-photo' } ) }}
            {{ form.hidden( 'delete_file', '', { id: 'delete-file' } ) }}
            {{ form.submit( 'Update Recipe', 'success', 'update-recipe' ) }}
        </div>
    </div>
    {{ form.close() }}
{% endblock content %}

{% block footer_scripts %}
    <script type="text/javascript" src="{{ asset( 'js/form.js' ) }}"></script>
    <script type="text/javascript" src="{{ asset( 'js/Sortable.js' ) }}"></script>
    <script type="text/javascript">
        //Remove the line and record the ID in the delete input
        $(document).on('click', '.ingredient .btn-danger.remove-item', function () {
            removeRow(this, 'ingredient', 'ingredients');
            renameRows('ingredients');
        });

        $(document).on('click', '.direction .btn-danger.remove-item', function () {
            removeRow(this, 'direction', 'directions');
            renameRows('directions');
        });

        $(document).on('click', '.photo .btn-danger.remove-item', function () {
            removeRow(this, 'photo', 'photos');
            renameRows('photos');
        });

        $(document).on('click', '.file .btn-danger.remove-item', function () {
            removeRow(this, 'file', 'files');
            renameRows('files');
        });

        //Generate a new line via tab
        $('.ingredients').on('keydown', '.ingredient-notes', function (event) {
            if (event.key === 'Tab' && $(this).prop('name') === $('.ingredient-notes').last().prop('name')) {
                $('.ingredients').append(addRow('ingredient'));
                renameRows('ingredients');

                //Show the remove button if there is more than one item in the list
                if ($('.ingredient').length > 1) {
                    $('.ingredient .remove-item').removeClass('d-none');
                    $('.ingredient .sort-item').removeClass('d-none');
                }
            }
        });

        $('.directions').on('keydown', '.direction-notes', function (event) {
            if (event.key === 'Tab' && $(this).prop('name') === $('.direction-notes').last().prop('name')) {
                $('.directions').append(addRow('direction'));
                renameRows('directions');

                //Show the remove button if there is more than one item in the list
                if ($('.direction').length > 1) {
                    $('.direction .remove-item').removeClass('d-none');
                    $('.direction .sort-item').removeClass('d-none');
                }
            }
        });

        $('.photos').on('keydown', '.photo-caption', function (event) {
            if (event.key === 'Tab' && $(this).prop('name') === $('.photo-caption').last().prop('name')) {
                $('.photos').append(addRow('photo'));
                renameRows('photos');

                //Show the remove button if there is more than one item in the list
                if ($('.photo').length > 1) {
                    $('.photo .remove-item').removeClass('d-none');
                    $('.photo .sort-item').removeClass('d-none');
                }
            }
        });

        $('.files').on('keydown', '.file-caption', function (event) {
            if (event.key === 'Tab' && $(this).prop('name') === $('.file-caption').last().prop('name')) {
                $('.files').append(addRow('file'));
                renameRows('files');

                //Show the remove button if there is more than one item in the list
                if ($('.file').length > 1) {
                    $('.file .remove-item').removeClass('d-none');
                    $('.file .sort-item').removeClass('d-none');
                }
            }
        });

        $(document).on('change', '.custom-file-input', function () {
            //Get the file name, replace the fakepath value
            var fileName = $(this).val().replace('C:\\fakepath\\', '');

            //Display the file name in the file field
            var label = $(this).closest('div').find('.custom-file-label').first();
            label.html(fileName);
        });

        //Make the ingredient list sortable
        new Sortable(document.getElementById('ingredients'), {
            animation: 150,
            handle: '.sort-item',
            draggable: '.ingredient',
            onEnd: function () {
                renameRows('ingredients');
            }
        });

        //Make the direction list sortable
        new Sortable(document.getElementById('directions'), {
            animation: 150,
            handle: '.sort-item',
            draggable: '.direction',
            onEnd: function () {
                renameRows('directions');
            }
        });

        //Make the photo list sortable
        new Sortable(document.getElementById('photos'), {
            animation: 150,
            handle: '.sort-item',
            draggable: '.photo',
            onEnd: function () {
                renameRows('photos');
            }
        });

        //Make the file list sortable
        new Sortable(document.getElementById('files'), {
            animation: 150,
            handle: '.sort-item',
            draggable: '.file',
            onEnd: function () {
                renameRows('files');
            }
        });
    </script>
{% endblock footer_scripts %}
