{% extends 'recipes.create' %}

{% import 'macros.meta' as meta %}
{% import 'macros.form' as form %}

{% block title %}{{ recipe.name }}{% endblock %}
{% block pageTitle %}{{ recipe.name }}{% endblock %}
{% block buttons %}{% include 'recipes.buttons' %}{% endblock %}

{% block content %}
    {{ form.open( [ 'recipes.edit', recipe.id ], 'edit_recipe', 'edit-recipe' ) }}
    <div class="form-row">
        <div class="col-md-6">
            <h4>Details</h4>
            {% include 'recipes.form.details' %}

            <div class="files" id="files">
                <h4>Files</h4>
                {% if recipe.files.isNotEmpty() %}
                    {% for key, file in recipe.files %}
                        {% include 'recipes.form.file' %}
                    {% endfor %}
                {% else %}
                    {% include 'recipes.form.file' %}
                {% endif %}
            </div>
        </div>

        <div class="col-md-6 ingredients" id="ingredients">
            <h4>Ingredients</h4>
            {% if recipe.ingredients.isNotEmpty() %}
                {% for key, ingredient in recipe.ingredients %}
                    {% include 'recipes.form.ingredient' %}
                {% endfor %}
            {% else %}
                {% include 'recipes.form.ingredient' %}
            {% endif %}
        </div>
    </div>

    <div class="form-row">&nbsp;</div>

    <div class="form-row">
        <div class="col-md-6 directions" id="directions">
            <h4>Directions</h4>
            {% if recipe.directions.isNotEmpty() %}
                {% for key, direction in recipe.directions %}
                    {% include 'recipes.form.direction' %}
                {% endfor %}
            {% else %}
                {% include 'recipes.form.direction' %}
            {% endif %}
        </div>

        <div class="col-md-6">
            <div class="photos" id="photos">
                <h4>Photos</h4>
                {% if recipe.photos.isNotEmpty() %}
                    {% for key, photo in recipe.photos %}
                        {% include 'recipes.form.photo' %}
                    {% endfor %}
                {% else %}
                    {% include 'recipes.form.photo' %}
                {% endif %}
            </div>
        </div>
    </div>

    <div class="form-row">&nbsp;</div>

    <div class="form-row">
        <div class="offset-md-3 col-md-6">
            {{ form.hidden( 'delete_ingredient', '', { id: 'delete-ingredient' } ) }}
            {{ form.hidden( 'delete_direction', '', { id: 'delete-direction' } ) }}
            {{ form.hidden( 'delete_photo', '', { id: 'delete-photo' } ) }}
            {{ form.hidden( 'delete_file', '', { id: 'delete-file' } ) }}

            {{ form.submit( 'Update Recipe', 'success', 'update-recipe' ) }}
        </div>
    </div>

    {{ form.close() }}
{% endblock content %}
