{% import 'macros/form.twig' as form %}

<div id="recipe-{{ recipe.id }}" class="recipe form col-md-6 col-md-offset-3">
    {{ form.open( recipe, route, 'recipe_data', 'recipe-form' ) }}

    <fieldset class="recipe-basics">
        {{ form.text( 'name', old( 'name' ), 'name', 'Recipe Name', true ) }}
        <br />
        {{ form.textarea( 'description', old( 'description' ), 'description', 'Recipe Description' ) }}
        <br />
        {{ form.text( 'source', old( 'source' ), 'source', 'Recipe Source' ) }}
        <br />
        {{ form.text( 'source_url', old( 'source_url' ), 'source-url', 'Source URL' ) }}
        <br />
        {{ form.textarea( 'notes', old( 'notes' ), 'notes', 'Recipe Notes' ) }}
    </fieldset>

    {{ form.close() }}
</div>
