{% extends 'layout' %}

{% import 'macros.meta' as meta %}
{% import 'macros.form' as form %}

{% block title %}{{ recipe.name }}{% endblock %}
{% block pageTitle %}{{ recipe.name }}{% endblock %}
{% block buttons %}{% include 'recipes.buttons' %}{% endblock %}

{% block meta_canonical %}
    {{ meta.canonical( route( 'recipes.show', { slug: recipe.getSlug(), id: recipe.id } ) ) }}
{% endblock meta_canonical %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <p>{{ recipe.description }}</p>

            <ul class="details">
                <li><strong>Prep:</strong> {{ recipe.prep_time.forHumans( true ) ?: '0m' }}</li>
                <li><strong>Cook:</strong> {{ recipe.cook_time.forHumans( true ) ?: '0m' }}</li>
                <li><strong>Total:</strong> {{ recipe.getTotalTime().cascade().forHumans( true ) ?: '0m' }}</li>
                <li><strong>Servings:</strong> {{ recipe.servings }} {{ recipe.serving_size|capitalize }}</li>
                <li><strong>Difficulty:</strong> {{ recipe.difficulty|capitalize }}</li>
            </ul>
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col-md-12">
            <p>
                {% if recipe.notes is not empty %}
                    {{ recipe.notes }}
                {% endif %}

                {% if recipe.notes is not empty and ( recipe.source_url is not empty or recipe.source is not empty ) %}
                    <br />
                {% endif %}

                {% if recipe.source_url and recipe.source %}
                    Source: <a href="{{ recipe.source_url }}" target="_blank">{{ recipe.source }}</a>
                {% elseif recipe.source_url %}
                    Source: <a href="{{ recipe.source_url }}" target="_blank">{{ recipe.source_url }}</a>
                {% elseif recipe.source %}
                    Source: {{ recipe.source }}
                {% endif %}
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h4>Ingredients</h4>
            <ul class="ingredients">
                {% for ingredient in recipe.ingredients().get() %}
                    <li>
                        {{ ingredient.name }}
                        {% if ingredient.notes %}
                            <ul>
                                <li>{{ ingredient.notes }}</li>
                            </ul>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-6">
            <h4>Directions</h4>
            <ol class="directions">
                {% for direction in recipe.directions().get() %}
                    <li>
                        <span class="btn btn-outline-secondary btn-sm" data-toggle="tooltip" data-placement="left"
                              title="Tap/Click to mark as complete">
                            {{ loop.index }}
                        </span>
                        {{ direction.name }}
                        {% if direction.notes %}
                            <ul>
                                <li>{{ direction.notes }}</li>
                            </ul>
                        {% endif %}
                    </li>
                {% endfor %}
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {% for tag in recipe.tags %}
                {{ tag.getAttribute( 'name' ) }}{% if recipe.tags.last().getAttribute( 'name' ) != tag.getAttribute( 'name' ) %},{% endif %}
            {% endfor %}
        </div>
    </div>

    {% if recipe.files.isNotEmpty() or recipe.photos.isNotEmpty() %}
        <hr />
    {% endif %}

    {% if recipe.files.isNotEmpty() %}
        <div class="row">
            <div class="col-md-12">
                <h4>Files</h4>
            </div>
        </div>
        <div class="row">
            {% for chunk in recipe.files.chunk( 3 ) %}
                {% for file in chunk %}
                    <div class="col-md-4">
                        <i class="fas fa-file-{{ file.getExtension() }} extension"></i>
                        <a href="{{ public_asset( 'storage/' ~ file.path ) }}" target="_blank">{{ file.path }}</a>
                        <p>
                            {{ file.caption }}
                        </p>
                    </div>
                {% endfor %}
            {% endfor %}
            <div class="col-md-12">
            </div>
        </div>
    {% endif %}

    {% if recipe.files.isNotEmpty() and recipe.photos.isNotEmpty() %}
        <hr />
    {% endif %}

    {% if recipe.photos.isNotEmpty() %}
        <div class="row">
            <div class="col-md-12">
                <h4>Photos</h4>
            </div>
        </div>
        <div class="row">
            {% for chunk in recipe.photos.chunk( 4 ) %}
                {% for photo in chunk %}
                    <div class="col-md-3">
                        <a href="#" data-toggle="modal" data-target="#show-photo-{{ loop.index }}">
                            <img src="{{ public_asset( 'storage/' ~ photo.path ) }}" width="100%" alt="{{ photo.path }}" />
                        </a>
                        <p>
                            {{ photo.caption }}
                        </p>
                    </div>
                {% endfor %}
            {% endfor %}
            <div class="col-md-12">
            </div>
        </div>
    {% endif %}
{% endblock content %}

{% block modals %}
    <div class="modal fade" id="delete-recipe" tabindex="-1" role="dialog" aria-labelledby="deleteRecipe"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteRecipe">Delete Recipe</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure you'd like to delete "{{ recipe.name }}"?
                </div>
                <div class="modal-footer">
                    {{ form.open( [ 'recipes.delete', recipe.id ], 'delete_recipe', 'delete-recipe' ) }}
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-danger">Delete Recipe</button>
                    {{ form_close() }}
                </div>
            </div>
        </div>
    </div>

    {% for photo in recipe.photos %}
        <div class="modal fade" id="show-photo-{{ loop.index }}" tabindex="-1" role="dialog" aria-labelledby="showPhoto"
             aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="showPhoto">Photo</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <img src="{{ public_asset( 'storage/' ~ photo.path ) }}" alt="{{ photo.path }}" width="100%" />
                    </div>
                    <div class="modal-footer">
                        {{ photo.caption }}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block footer_scripts %}
    <script type="text/javascript">
        $('.directions .btn').on('click', function () {
            if ($(this).hasClass('btn-outline-secondary')) {
                $(this).addClass('btn-success').removeClass('btn-outline-secondary');
            } else {
                $(this).addClass('btn-outline-secondary').removeClass('btn-success');
            }
        });
    </script>
{% endblock %}
