{% extends 'layout' %}

{% import 'macros.meta' as meta %}

{% block title %}{{ recipe.name }}{% endblock %}

{% block pageTitle %}{{ recipe.name }}{% endblock %}

{% block meta_canonical %}
    {{ meta.canonical( route( 'recipes.show', { slug: recipe.getSlug(), id: recipe.id } ) ) }}
{% endblock meta_canonical %}

{% block meta_title %}
    {% set name = recipe.getAttribute( 'name' ) %}
    {{ parent() }}
{% endblock %}

{% block meta_description %}
    {% set description = recipe.getAttribute( 'description' ) %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <h1>{{ recipe.getAttribute( 'name' ) }}</h1>
    <h4>Yield: {{ recipe.getAttribute( 'servings' ) }} {{ recipe.getAttribute( 'serving_size' ) }}</h4>

    <div>
        <h3>Ingredients</h3>
        <ul>
            {% for ingredient in recipe.ingredients.sortBy( 'order_number' ) %}
                <li>{{ ingredient.getAttribute( 'ingredient' ) }}</li>
            {% endfor %}
        </ul>
    </div>

    <div>
        <h3>Directions</h3>
        <ol>
            {% for direction in recipe.directions.sortBy( 'order_number' ) %}
                <li>{{ direction.getAttribute( 'direction' ) }}</li>
            {% endfor %}
        </ol>
    </div>
{% endblock content %}
